@import '../../styles/globals';

.create-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $spacing-xxl;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;

    > input {
      margin: $spacing-md 0;
    }
  }
}
